
.productlist {
   @apply flex gap-4 ml-4;
   flex-flow: row wrap;
   
}


@media screen and (max-width: 945px) {
   .productlist {
      @apply justify-center items-center mx-auto;
      max-width: 768px;
      width: 100%;
   }

}

@media screen and (max-width: 768px) {
   .productlist {
      @apply w-full;
       max-width: 768px;
       flex-flow: none;
   }
}

@media screen and (max-width: 500px) {
   .productlist {
      @apply flex-col ;
     
   } 
}