
.categoryMenuNav {
    @apply p-4 bg-secondary text-white mx-auto ; 
    /* background-image:  url("../../assets/bgTexture.svg");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: 100%; */
    min-width: 300px;
    max-height: 550px;
    border-radius: 5px;
}

.categoryMenuNav__toggleBtn-wrapper {
    @apply hidden cursor-pointer;
}

.categoryMenuNav__toggleBtn {
    @apply text-lg;
}

.categoryMenuNav__inner {
    @apply relative z-10 bg-secondary mt-4 ;
 
}

.categoryMenuNav__inner--open {
    @apply block;
}

.categoryMenuNav__inner--close {
    @apply block;
 }

.categoryMenuNav__link {
    @apply flex items-center mb-4 cursor-pointer border-b-2 border-secondary text-lg;
   
}
.categoryMenuNav__link--hover:hover {
    @apply border-b-2 text-lime-500 border-lime-500 delay-75 duration-100 transition-all;
}

.categoryMenuNav__link--active {
    @apply border-b-2 border-lime-500 delay-75 duration-100 text-lime-500 ;
}

@media screen and (max-width: 945px) {
    .categoryMenuNav {
        @apply w-full mb-4;
        max-width: 576px;
    }

    .categoryMenuNav__link {
        @apply ml-14;
    }

    .categoryMenuNav__toggleBtn-wrapper {
        @apply flex justify-between items-center;
    }

    .categoryMenuNav__inner--open {
        @apply block;
    }
    .categoryMenuNav__inner--close {
        @apply hidden;
     }
    
}

/* @media screen and (max-width: 768px) {
    .CategoryMenuNav {
        max-width: 768px;
    }
    
} */

@media screen and (max-width: 500px) {
    .categoryMenuNav {
        max-height: 600px;
    }
   
} 