.menu {
    @apply mt-8 mx-auto px-4;
    width: 100%;
    max-width: 1366px;
}

.menu__grid-one {
    @apply grid-cols-1 grid-rows-1 max-w-screen-lg items-center ;
    
}

.menu__grid-two {
    @apply grid-rows-1;
    grid-template-columns: 1fr 3fr;
}

.menu__grid-four {
    @apply grid-cols-4 gap-4 grid-rows-1 max-w-screen-lg;
    
} 

.menu__heading {
    @apply font-bold text-3xl pb-6;
}

@media screen and (max-width: 945px) {
    .menu__grid-two {
        @apply grid-rows-1;
        grid-template-columns: 1fr;
    }
}